<h2 class="page-header">Sorted By Most Recently Added</h2>
<div class="flex-row-wrap books-recently-added hover-motion">
  <% books.forEach(book => { %>
    <a href="/books/<%= book.id %>">
      <img src="<%= book.coverImageDataURL %>" width="190" height="300"> 
    </a>
  <% }) %>
</div>